<div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  <h1> Welcome <%= Current.user.email_address %>!!</h1> <br />
</div>
<div>
  <h2 class="text-3xl font-bold text-gray-900 mb-4">This Is Your Page</h2>
</div>
<%= link_to "Home Page", root_path %>
<%= link_to "Contact Page", contact_path %>
<%= link_to "React Page", static_path %>
<%= button_to "Logout", session_path, method: :delete %>




<p class="text-center text-lg">
<h2 class="header-title"><%= @title %></h2>
<h4 class="header"><%= @keywords %></h4>
<strong>
  <a class="border-b border-gray-900 mb-1" href="https://diveintodocker.com?ref=docker-rails-example">https://diveintodocker.com</a>
</strong>
